@import url(../../vendor/normalize.css);
@import url(../../fonts/inter/Inter_Web/inter.css);

.search {
  width: 100%;
  display: flex;
  background-color: #fafafa;
  flex-direction: column;
}

.search__error {
  width: 89.06%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: #EE3465;
  display: none;
  margin: auto;
  margin-bottom: 6px;
  margin-top: 10px;
  
}

.search__error_active {
  display: flex;
}

.search__line {
  border-bottom: 1px solid #E8E8E8;
  margin-top: 40px;
  margin-bottom: 10px;
}

.search__form-input {
  width: 92.98%;
  height: 48px;
  background-color: #f4f4f4;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
  padding-left: 22px;
}

.search__form-button {
  width: 70px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: #FFFFFF;
  background-color: #3456F3;
  border: none;
  border-radius: 40px;
  margin-left: 10px;
}

.search__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 89.06%;
  margin: auto;
  margin-top: 80px;
}

@media screen and (max-width: 768px){
  .search__form {
    width: 92.19%;
  }

  .search__form-input {
    width: 88.7%;
  }

  .search__form-button {
    width: 70px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 425px){
  .search__form {
    width: 91.25%;
  }

  .search__form-input {
    width: 72.6%;
  }

  .search__form-button {
    width: 23.97%;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  width: 156px;
  margin: auto;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.filter__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: #000000;
}

.filter__btn {
  border: none;
  background-color: #fafafa;
}

.filter-check-box__switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 36px;
}

.slider {
  z-index: 1;
  background: #ffffff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.slider:before {
  background: #3DDC84;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

.filter-check-box__checkbox:checked + .slider {
  background: #ffffff;
}

.filter-check-box__checkbox:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

.filter-check-box__checkbox {
  display: none;
}

.filter-check-box {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 226px;
  margin-left: 29px;
}

@media (max-width: 700px) {
  .filter-check-box {
      position: absolute;
      top: 138px;
  }
}