@import url(../../vendor/normalize.css);
@import url(../../fonts/inter/Inter_Web/inter.css);

.header {
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #DDDEE3;
}

.header__container {
  width: 89.06%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 768px){
  .header {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #DDDEE3;
  }

  .header__container {
    width: 92.19%;
  }
}

@media screen and (max-width: 425px){
  .header {
    width: 100%;
    margin: auto;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #DDDEE3;
  }

  .header__container {
    width: 91.25%;
  }

  .header-register__container {
    width: 81.25%;
    margin: auto;
    margin-top: 56px;
  }
}

.header__auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 183px;
  align-items: center;
}

.header__login {
  font-family: 'Inter', ‘Arial’, sans-serif;
  width: 76px;
  height: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-color: #3456F3;
  border-radius: 3px;
  border: none;
  margin: 0%;
  padding: 0%;
  cursor: pointer;
}

.header__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 425px){
  .header__logo {
    margin-left: 0;
  }
}

.header__popup-btn {
  display: none;
}

@media screen and (max-width: 768px){
  .header__popup-btn {
    display: flex;
    border: none;
    background-color: #fafafa;
  }
}

.header__popup-menu {
  display: none;
}

@media screen and (max-width: 768px){
  .header__popup-menu {
    display: flex;
    background-color: #fafafa;
  }

  .header__popup-menu_logeddin {
    background-color: #DDDEE3;
  }

  .header__popup-close {
    display: flex;
    background-color: #fafafa;
  }
}

.header__register {
  font-family: 'Inter', ‘Arial’, sans-serif;
  width: 77px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: black;
  margin: 0%;
  padding: 0%;
  border: none;
  background-color: #DDDEE3;
  cursor: pointer;
}

.header-login {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-login__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0%;
}

.header-login__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.header-login__container {
  display: flex;
  flex-direction: column;
  width: 395px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 70px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px){
  .header-login__container {
    margin-top: 232px;
  }
}

.header-movies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  background-color: #FAFAFA;
}

@media screen and (max-width: 768px){
  .header-movies {
    width: 100%;
    padding: 0%;
    margin: auto;
  }
}

.header-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px){
  .header-profile {
    max-width: 768px;
  }
}

.header-profile__movies {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  font-family: 'Inter', ‘Arial’, sans-serif;
  width: 54px;
  color: #000000;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  height: 18px;
}

.header-profile__saved-movies {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  width: 145px;
  height: 18px;
  color: #000000;
  font-style: normal;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}
.header-decoration {
  text-decoration: underline;
}



.header-profile__movie-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 217px;
  align-items: center;
  height: 18px;
}

@media screen and (max-width: 768px){
  .header-profile__movie-box {
    display: none;
  }
}

.header-profile__logo {
  width: 38px;
  height: 38px;
}

.header-profile__image {
  width: 100px;
  height: 32px;
  object-fit: cover;
  margin-right: 70px;
}

@media screen and (max-width: 768px){
  .header-profile__image {
    display: none;
  }
}

.header-profile__container {
  display: flex;
  flex-direction: row;
  width: 294px;
  justify-content: space-between;
  margin-left: 70px;
  align-items: center;
}

@media screen and (max-width: 768px){
  .header-profile__container {
    margin-left: 0%;
    width: 92.19%;
    margin: auto;
  }
}

.header-register {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-register__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0%;
}

.header-register__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.header-register__container {
  display: flex;
  flex-direction: column;
  width: 395px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 70px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px){
  .header-register__container {
    margin-top: 232px;
  }
}


@media screen and (max-width: 425px){
  .header-register__container {
    width: 81.25%;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 80px;
    flex-direction: column;
    align-items: center;
  }

  .header-login__container {
    width: 81.25%;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 80px;
    flex-direction: column;
    align-items: center;
  }
}